In [2]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import pickle

In [3]:
data = pd.read_csv('./Churn_Modelling.csv')

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Encode 'Gender' column
label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# One-hot encode 'Geography' column
ohe_geography = OneHotEncoder(handle_unknown='ignore') 
geo_encoded = ohe_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geography.get_feature_names_out(['Geography']))

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [ ]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [14]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [18]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)

y = data['EstimatedSalary']

In [16]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [19]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [20]:
# Split the data into train/test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# Scale the features
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('ohe_geography.pkl', 'wb') as file:
    pickle.dump(ohe_geography, file)
    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

In [26]:
# Build the model
model = Sequential([
    Input(shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1) # Default activation function = 'linear'
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [28]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [29]:
# Train the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 100030.9219 - mae: 100030.9219 - val_loss: 98426.3516 - val_mae: 98426.3516
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99118.6328 - mae: 99118.6328 - val_loss: 96338.5078 - val_mae: 96338.5078
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96892.0312 - mae: 96892.0312 - val_loss: 91097.5312 - val_mae: 91097.5312
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 91296.4297 - mae: 91296.4297 - val_loss: 82738.3438 - val_mae: 82738.3438
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 81640.0703 - mae: 81640.0703 - val_loss: 72715.0859 - val_mae: 72715.0859
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 71787.9766 - mae: 71787.9766 - val_loss: 63530.0156 - val_mae: 63530.0156
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 62180.9727 - mae: 62180.9727 - val_loss: 56915.8477 - val_mae: 56915.8477
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55629.7188 - mae: 55629.7188 - val_loss: 53120.4023 - val_mae: 53120.4023
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52967.0547 - mae: 52967.0547 - val_loss: 51626.2891 - val_mae: 51626.2891
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51696.7539 - mae: 51696.7539 - val_loss: 51105.3164 - val_mae: 51105.3164
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50765.5664 - mae: 50765.5664 - val_loss: 50945.4844 - val_mae: 50945.4844
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49474.8398 - mae: 49474.8398 - val_loss: 50851.2695 - val_mae: 50851.2695
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50168.7148 - mae: 50168.7148 - val_loss: 50788.6641 - val_mae: 50788.6641
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50217.0938 - mae: 50217.0938 - val_loss: 50728.2422 - val_mae: 50728.2422
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49724.4297 - mae: 49724.4297 - val_loss: 50685.5586 - val_mae: 50685.5586
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50387.6055 - mae: 50387.6055 - val_loss: 50632.5781 - val_mae: 50632.5781
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50227.5742 - mae: 50227.5742 - val_loss: 50589.3789 - val_mae: 50589.3789
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49660.7930 - mae: 49660.7930 - val_loss: 50558.8281 - val_mae: 50558.8281
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49936.7891 - mae: 49936.7891 - val_loss: 50532.0977 - val_mae: 50532.0977
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49967.3906 - mae: 49967.3906 - val_loss: 50514.4531 - val_mae: 50514.4531
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49613.6719 - mae: 49613.6719 - val_loss: 50493.5039 - val_mae: 50493.5039
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50532.1250 - mae: 50532.1250 - val_loss: 50477.3789 - val_mae: 50477.3789
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49831.0625 - mae: 49831.0625 - val_loss: 50461.7148 - val_mae: 50461.7148
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50401.2188 - mae: 50401.2188 - val_loss: 50442.0391 - val_mae: 50442.0391
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49878.5391 - mae: 49878.5391 - val_loss: 50435.9727 - val_mae: 50435.9727
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49645.1992 - mae: 49645.1992 - val_loss: 50422.5391 - val_mae: 50422.5391
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49565.3867 - mae: 49565.3867 - val_loss: 50407.4844 - val_mae: 50407.4844
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49644.1367 - mae: 49644.1367 - val_loss: 50401.2188 - val_mae: 50401.2188
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49859.6094 - mae: 49859.6094 - val_loss: 50398.6992 - val_mae: 50398.6992
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49160.8867 - mae: 49160.8867 - val_loss: 50401.6953 - val_mae: 50401.6953
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49461.4922 - mae: 49461.4922 - val_loss: 50386.9141 - val_mae: 50386.9141
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50007.8789 - mae: 50007.8789 - val_loss: 50373.6758 - val_mae: 50373.6758
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49427.0625 - mae: 49427.0625 - val_loss: 50367.3984 - val_mae: 50367.3984
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49567.5742 - mae: 49567.5742 - val_loss: 50365.6172 - val_mae: 50365.6172
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49870.8945 - mae: 49870.8945 - val_loss: 50363.0547 - val_mae: 50363.0547
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49124.4453 - mae: 49124.4453 - val_loss: 50350.3750 - val_mae: 50350.3750
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49953.9727 - mae: 49953.9727 - val_loss: 50362.6797 - val_mae: 50362.6797
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49551.4180 - mae: 49551.4180 - val_loss: 50346.9453 - val_mae: 50346.9453
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49901.0859 - mae: 49901.0859 - val_loss: 50339.8672 - val_mae: 50339.8672
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50031.9531 - mae: 50031.9531 - val_loss: 50345.2461 - val_mae: 50345.2461
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49588.7266 - mae: 49588.7266 - val_loss: 50346.0312 - val_mae: 50346.0312
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48950.1836 - mae: 48950.1836 - val_loss: 50337.7617 - val_mae: 50337.7617
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50336.0625 - mae: 50336.0625 - val_loss: 50338.8203 - val_mae: 50338.8203
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49402.5195 - mae: 49402.5195 - val_loss: 50352.6211 - val_mae: 50352.6211
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49178.2031 - mae: 49178.2031 - val_loss: 50359.8594 - val_mae: 50359.8594
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48995.7461 - mae: 48995.7461 - val_loss: 50342.7812 - val_mae: 50342.7812
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49436.5820 - mae: 49436.5820 - val_loss: 50343.0547 - val_mae: 50343.0547
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49762.9688 - mae: 49762.9688 - val_loss: 50335.6562 - val_mae: 50335.6562
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49686.8711 - mae: 49686.8711 - val_loss: 50346.5625 - val_mae: 50346.5625
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49401.3750 - mae: 49401.3750 - val_loss: 50348.3516 - val_mae: 50348.3516
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49514.0273 - mae: 49514.0273 - val_loss: 50332.6641 - val_mae: 50332.6641
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49936.9062 - mae: 49936.9062 - val_loss: 50344.2617 - val_mae: 50344.2617
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49679.9805 - mae: 49679.9805 - val_loss: 50339.2695 - val_mae: 50339.2695
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49654.1094 - mae: 49654.1094 - val_loss: 50325.7031 - val_mae: 50325.7031
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49789.8438 - mae: 49789.8438 - val_loss: 50337.4531 - val_mae: 50337.4531
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49711.2930 - mae: 49711.2930 - val_loss: 50338.4023 - val_mae: 50338.4023
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49220.2656 - mae: 49220.2656 - val_loss: 50348.8047 - val_mae: 50348.8047
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49125.6719 - mae: 49125.6719 - val_loss: 50354.8164 - val_mae: 50354.8164
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49251.9336 - mae: 49251.9336 - val_loss: 50361.8320 - val_mae: 50361.8320
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49330.5039 - mae: 49330.5039 - val_loss: 50360.2930 - val_mae: 50360.2930
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49286.3125 - mae: 49286.3125 - val_loss: 50340.4336 - val_mae: 50340.4336
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48660.9258 - mae: 48660.9258 - val_loss: 50344.2070 - val_mae: 50344.2070
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50191.7812 - mae: 50191.7812 - val_loss: 50349.5352 - val_mae: 50349.5352
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49263.3789 - mae: 49263.3789 - val_loss: 50342.6367 - val_mae: 50342.6367

In [30]:
%load_ext tensorboard

In [34]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 3918), started 0:00:25 ago. (Use '!kill 3918' to kill it.)

In [37]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)

print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51049.9648 - mae: 51049.9648
Test MAE: 50325.703125

In [38]:
# Save regression model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.